
{% block content %}
<h1>Edit Profile</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.FirstName.label }} <br>
        {{ form.FirstName(size=32) }}
    </p>
    <p>
        {{ form.SecondName.label }} <br>
        {{ form.SecondName(size=32) }}
    </p>   
    <p>
        {{ form.age.label }}<br>
        {{ form.age(size=32) }}<br>
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city(size=32) }}<br>
    </p>
    <p>
        {{ form.language.label }}<br>
        {{ form.language(size=32) }}<br>
    </p>
    <p>
        {{ form.Music.label }}<br>
        {{ form.Music(size=32) }}<br>
    </p>
    <p>
        {{ form.work.label }}<br>
        {{ form.work(size=32) }}<br>
    </p>
    
    <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p> 
</form>
{% endblock %}