<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

{% block content %}
<div>
    <h1>Sign In</h1>
</div>
<div class="loginMain">
    <form action="" method="post" novalidate class="loginForm">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>         
            <p>{{ form.submit() }}</p>
        
</div>
</form>

{% endblock%}