<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<div class="header">
    <a href="{{ url_for('login') }}">Login</a>

    <a href="{{ url_for('registration') }} ">registration</a>

    <a href="{{ url_for('predlog') }}"> predlog</a>

    <a href="{{ url_for('logout')}}">logout</a>

    <a href="{{ url_for('user', username=current_user.username)}}">User</a>

    <a href="{{ url_for('post') }}">post</a>
    <a href="{{ url_for('vip') }}">vip</a>
</div>
<h1>Post page</h1>
<div class="postMain">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.lable }}
            {{ form.post(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
     </p>
    </form>
</div>
<div class="postMainn">
    {% for post in posts %}
    <p class="post">
    {{ post.author }} says: <b>{{ post.body }}</b>
    </p> 
    <a href="{{ url_for('comments', id= post.id  ) }}">comment</a>
</div>
{% endfor %}

{% endblock %}