<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<div class="header">
    <a href="{{ url_for('login') }}">Login</a>

    <a href="{{ url_for('registration') }} ">registration</a>

    <a href="{{ url_for('predlog') }}"> predlog</a>

    <a href="{{ url_for('logout')}}">logout</a>

    <a href="{{ url_for('user', username=current_user.username)}}">User</a>

    <a href="{{ url_for('post') }}">post</a>
    <a href="{{ url_for('vip') }}">vip</a>
</div>
{% if user.vip == 1 %}
    <h1>VIP</h1>
{% endif %}
<h1> User: {{ user.username }}  </h1>
{% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% elif not current_user.is_following(user) %}
<p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
<p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
{% endif %}


{% if 'admin' == current_user.username %}
<form action="" method="POST" novalidate>
    {{ delete.hidden_tag() }}
    <p>
        {{ delete.submit() }}
    </p>
</form>
{% endif %}

{% for post in posts %}
{% if post.author == user.username %}
<p>
{{ post.author }} says: <b>{{ post.body }}</b>
</p>
<p>
    {{ post.timestamp }}
</p>
{% endif %}
{% endfor %}

{% endblock %}
